
<div class="row">
  <div class="col-md-4">
      <a href="#m1"  data-toggle="modal" class="thumbnail">
        <img src="assets/gallery/img1.jpg"/>
      </a>
      <div class="modal fade" id="m1">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                  <img src="assets/gallery/img1.jpg" class="img-thumbnail">
                </div>
                <div class="modal-footer">
                  <h4>Siraj Birthday celebrations</h4>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="col-md-4">
    <a href="#m2" data-toggle="modal" class="thumbnail">
      <img src="assets/gallery/img2.jpg" />
    </a>
    <div class="modal fade" id="m2">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="assets/gallery/img2.jpg" class="img-thumbnail">
          </div>
          <div class="modal-footer">
            <h4>Shiv Birthday celebrations</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <a href="#m3" data-toggle="modal" class="thumbnail">
      <img src="assets/gallery/img3.jpg" alt="img3.jpg" />
    </a>
    <div class="modal fade" id="m3">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img src="assets/gallery/img3.jpg" class="img-thumbnail">
          </div>
          <div class="modal-footer">
            <h4>Team Lunch @ Barbeque Nation</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
      <a href="#m4" data-toggle="modal" class="thumbnail">
        <img src="assets/gallery/img4.jpg" />
      </a>
      <div class="modal fade" id="m4">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/gallery/img4.jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
              <h4>Srujan Birthday celebrations</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a href="#m5" data-toggle="modal" class="thumbnail">
        <img src="assets/gallery/img5.jpg" />
      </a>
      <div class="modal fade" id="m5">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/gallery/img5.jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
              <h4>Seema Farewell</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a href="#m6" data-toggle="modal" class="thumbnail">
        <img src="assets/gallery/img6.jpg" />
      </a>
      <div class="modal fade" id="m6">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                  <img src="assets/gallery/img6.jpg" class="img-thumbnail">
                </div>
                <div class="modal-footer">
                  <h4>Seema Farewell</h4>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="#m7" data-toggle="modal" class="thumbnail">
        <img src="assets/gallery/img7.jpg" />
      </a>
      <div class="modal fade" id="m7">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/gallery/img7.jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
              <h4>Seema Mam! Kaise ho aap?</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a href="#m8" data-toggle="modal" class="thumbnail">
        <img src="assets/gallery/img8.jpg" />
      </a>
      <div class="modal fade" id="m8">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/gallery/img8.jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
              <h4>Iftaar Team Party @Jama Masjid(Delhi)</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <a href="#m9" data-toggle="modal" class="thumbnail">
        <img src="assets/gallery/img9.jpg" />
      </a>
      <div class="modal fade" id="m9">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <img src="assets/gallery/img9.jpg" class="img-thumbnail">
            </div>
            <div class="modal-footer">
              <h4>Iftaar Team Party @Jama Masjid(Delhi)</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>